{% extends 'base.html' %}
{% load static %}

<head>


    <style>
        h2,p{
            color: white;
        }
        a{
            font-size: 15px;
            margin-left: 20px;
            color: blueviolet;
        }
       
    </style>


</head>

  {% block content %}

    <div style="display:inline-flex;width:100%">
     <div style="display:block; margin-right: 65%;">
    <h2 style="margin-left: 20px;">Bienvenido {{user}}</h2>
    {% if user.is_staff %}
        <p style="margin-left:20px ;">Eres Admin</p>
          {% if user.is_staff %}
        <a href="/register/" style="color:white;text-decoration:none; "> <btn class="btn btn-primary btn-sm">Registrar Nuevo Usuario</btn></a>
    {% endif %}
    {% endif %}
</div>
     <a style="color:white;text-decoration:none; " href="/logout/">  <btn class="btn btn-primary btn-sm" style="margin-left:20px;">Logout</btn></a>
</div>

  {% endblock %}
